DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=vehicle_service
DB_SSLMODE=disable

API_PORT=8080

KAFKA_BROKERS=localhost:9092
KAFKA_PRODUCER_TOPIC=vehicle.events
KAFKA_CONSUMER_TOPIC=identity.user-events
KAFKA_CONSUMER_GROUP=vehicle-service

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
